*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto';
    font-size: 16px;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:white
}




nav li:first-child{
    margin-right: auto;
    font-family: 'Oswald';
    font-size: 32px;
}



.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.808);
    backdrop-filter: blur(40px);
    box-shadow: 3px 3px 5px rgba(36, 13, 13, 0.37);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
 width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-buttom{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }

    .menu-buttom{
        display: block;
    }
}


@media(max-width:430px){
    .sidebar{
        width: 100%;
    }
}


#home{
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
}

#portafolio{
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001aff;
}

#contact{
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}